
.mw-mwoauthconsumerregistration-body,
.mw-mwoauthmanageconsumers-body {
	background-color: #F0F0F0;
}

.mw-mwoauthmanageconsumers-proposed,
.mw-mwoauthmanagemygrants-proposed,
.mw-mwoauthconsumerregistration-proposed {
	background-color: #B7B8E1;
}

.mw-mwoauthmanageconsumers-rejected,
.mw-mwoauthmanagemygrants-rejected,
.mw-mwoauthconsumerregistration-rejected {
	background-color: #E1B7BA;
}

.mw-mwoauthmanageconsumers-expired,
.mw-mwoauthmanagemygrants-expired,
.mw-mwoauthconsumerregistration-expired {
	background-color: #E1CDB7;
}

.mw-mwoauthmanageconsumers-approved,
.mw-mwoauthmanagemygrants-approved,
.mw-mwoauthconsumerregistration-approved {
	background-color: #BAE1B7;
}

.mw-mwoauthmanageconsumers-disabled,
.mw-mwoauthmanagemygrants-disabled,
.mw-mwoauthconsumerregistration-disabled {
	background-color: #CEB7E1;
}

.mw-mwoauthmanagemygrants-list-item {
	margin-bottom: 1em;
}
