
#mw-mwoauth-authorize-form {
	font-size: 1em;
}

#mw-mwoauth-authorize-form > a {
	font-weight: bold;
}

#mw-mwoauth-authorize-form > p {
	font-size: 1.4em;
}

span.mw-mwoauth-authorize-form-grantgroup {
	font-weight: bold;
	font-size: 1.2em;
}

input.mw-mwoauth-authorize-button {
	margin-left: .7em;
	margin-right: .7em;
	margin-bottom: .5em;
}

.client-js #mw-mwoauth-authorize-dialog {
	display: none; /* no flicker */
}

.mw-mwoauth-authorize-jQuery-dialog .ui-dialog-titlebar {
	display: none;
}
