/* stylelint-disable no-descending-specificity */
@import 'mediawiki.skin.variables.less';

#mw-mwoauth-authorize-form {
	body:not( .mw-authentication-popup ) & {
		/* Unify font size across various skins */
		/* stylelint-disable-next-line declaration-property-unit-disallowed-list */
		font-size: 14px;
		color: @color-base;
	}

	> a {
		// "Privacy policy" link
		font-size: 0.8em;
	}

	span.mw-grantgroup {
		font-weight: bold;
		font-size: 1.2em;
	}

	.mw-htmlform-ooui-header {
		margin-top: 0;
	}

	html.client-js body:not( .mw-authentication-popup ) .mw-body-content & {
		// Hide the original form if we're about to display it in the overlaid dialog, to avoid flicker.
		// Don't hide it inside the dialog, in popup mode (where there's no dialog) or in no-JS mode.
		display: none;
	}

	.mw-htmlform-submit-buttons {
		display: inline-block;
		margin-right: 1em;
	}

	.oo-ui-messageDialog-text & {
		.mw-htmlform-submit-buttons {
			float: right;
			margin-right: 0;
			margin-top: 0;
		}

		&:after {
			content: '';
			clear: both;
			display: block;
		}
	}
}
