#mw-mwoauth-authorize-form {
	/* Unify font size across various skins */
	/* stylelint-disable-next-line declaration-property-unit-disallowed-list */
	font-size: 14px;
	color: #333;
}

#mw-mwoauth-authorize-form > a {
	font-size: 0.8em;
}

#mw-mwoauth-authorize-form > p {
	font-size: 1.2em;
	line-height: 1.4;
}

#mw-mwoauth-authorize-form > ul {
	padding-top: 0.5em;
	line-height: 1em;
}

#mw-mwoauth-authorize-form span.mw-grantgroup {
	font-weight: bold;
	font-size: 1.2em;
}

input.mw-mwoauth-authorize-button {
	float: right;
	margin-left: 0.7em;
	margin-right: 0.7em;
	margin-bottom: 0.5em;
}

.client-js .mw-body-content #mw-mwoauth-authorize-dialog {
	display: none; /* no flicker */
}

.oo-ui-messageDialog-text #mw-mwoauth-authorize-dialog:after {
	content: '';
	clear: both;
	display: block;
}
